//颜色
$black-333: #333;
$gray-999: #999;
$gray-666: #666;
$gray-ccc: #ccc;
$gray-ecec: #ececec;
$white: #fff;
$white-f7: #f7f7f7;
$blue-4epfec: #4e9fec;
$blue-a3cef2: #a3cef2;
$blue-6c95bc: #6c95bc;
$orange-f5882f: #f5882f;
$orange-eeb74e: #eeb74e;
$orange-f3d69d: #f3d69d;
$yellow-f9Be1f: #f9be1f;
$green-2ca7b3: #2ca7b3;
$green-40cc95: #40cc95;
$green-64bf98: #64bf9b;
$green-a8e2c1: #a8e2c1;
$red-ff7474: #ff7474;

//字体
$f-s-14: 14px;
$f-s-16: 16px;
$f-s-18: 18px;
$f-s-20: 20px;
$f-s-32: 32px;

//字色
$title-color: $black-333;
$content-light: $gray-666;
$content-lighter: $gray-999;
