::v-deep {
  .el-dialog {
    border-radius: 20px;
    height: 520px;
    overflow: hidden;
    &__header {
      padding: 0;
    }
    &__body {
      padding: 20px 60px;
      overflow: auto;
    }
    &__headerbtn {
      font-size: 20px;
      color: #d9d9d9;
    }
  }
  .el-input__inner {
    margin-top: 2px;
    border: 0 none;
    background-color: transparent;
    padding-left: 20px;
    height: 48px;
    line-height: 48px;
    font-size: $f-s-18;
    @include borderRaduis(23px);
    border: 0 none;
    padding-left: 20px;
    height: 47px;
    line-height: 47px;

    &::placeholder {
      color: $gray-999;
    }

    &::-webkit-input-placeholder {
      color: $gray-999;
    }

    &:-moz-placeholder {
      color: $gray-999;
    }

    &::-moz-placeholder {
      color: $gray-999;
    }

    &:-ms-input-placeholder {
      color: $gray-999;
    }
  }
}
.demandPop-header {
  margin-top: 20px;
  align-items: center;
  margin-bottom: 30px;

  &__search {
    margin-right: 99px;
    align-items: center;
    @include border($gray-ccc);
    border-radius: 30px;
    width: 501px;
    height: 47px;
    line-height: 47px;
  }
}
.icon-search {
  width: 24px;
  margin-right: 20px;
}

.demandPop-container {
  height: 400px;
  overflow-y: auto;

  &__list {
    justify-content: space-between;
    height: 60px;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    cursor: pointer;
  }

  &__change {
    width: 20px;
    height: 20px;
    vertical-align: top;
  }

  &__name {
    &--active {
      color: #2CA7B3;
    }
  }
}
